# Python basics
__pycache__/
*.pyc
*.pyo

# Environment variables and credentials
.env
*.env

# Random JSON Files
*.json

# Virtual environments
venv/
env/
scaletech/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Connection Tests and logfiles
tests/
*.log
*.csv

# Exceptions
!config.json